body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Montserrat, sans-serif';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h3 {
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
}

h2 {
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

/* 3 for top 15 for left and right 7 for button */
.container-fluid {
  padding: 3% 15% 7%;
}

/* NAVIGATION BAR */
/* 0 for top 0 for right and left 4.5rem for bottom */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
}

/* 0 for up and down 18px for left and right */
.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Download-Buttons */
.Download-Buttons {
  margin: 5% 3% 5% 0;
}

/* TITLE IMAGE */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features section */
/* 7% top and botton  15% left and right */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
/* 7% top and button 15% left and right */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

/* 20px for top 20 for left and right 50 for button */
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* PRICING SECTION */
#pricing {
  padding: 100px;
  text-align: center;
}

/* 3% top and button 2% left and right */
.pricing-column {
  padding: 3% 2%;
}

/* CTA SECTION */
#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
  color: white;
}

.cta-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* FOOTER SECTION */
#footer {
  text-align: center;
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}


/* FOR SCREEN SIZE RESPOSIVE */
@media(max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
